[color]
	diff = auto
	status = auto
	branch = auto
[user]
	name = Thomas Carreau
	email = thomascarreau@protonmail.com
[alias]
    ci = commit
    co = checkout
    st = status
    br = branch
[push]
    default=simple
